<%- include('../parts/html-head') %> <%- include('../parts/navbar') %>
<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item <%= 1==page ? 'disabled' : '' %>">
            <a class="page-link" href="?page=1">
              <i class="fa-solid fa-angles-left"></i>
            </a>
          </li>
          <li class="page-item <%= 1==page ? 'disabled' : '' %>">
            <a class="page-link" href="?page=<%= page -1 %>">
              <i class="fa-solid fa-angle-left"></i>
            </a>
          </li>

          <% for(let i=page-5; i<=page+5; i++) if(i>=1 && i<=totalPages){ %>
          <li class="page-item <%= i==page ? 'active' : '' %>">
            <a class="page-link" href="?page=<%= i %>"><%= i %></a>
          </li>
          <% } %>
          <li class="page-item <%= totalPages==page ? 'disabled' : '' %>">
            <a class="page-link" href="?page=<%= page +1 %>">
              <i class="fa-solid fa-angle-right"></i>
            </a>
          </li>
          <li class="page-item <%= totalPages==page ? 'disabled' : '' %>">
            <a class="page-link" href="?page=<%= totalPages %>">
              <i class="fa-solid fa-angles-right"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">姓名</th>
            <th scope="col">手機</th>
            <th scope="col">E-mail</th>
          </tr>
        </thead>
        <tbody>
          <% for(let r of rows){ %>
          <tr id="my<%= r.sid %>">
            <td><%= r.sid %></td>
            <td><%= r.name %></td>
            <td><%= r.mobile %></td>
            <td><%= r.email %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include('../parts/scripts') %>
<%- include('../parts/html-foot') %>
